{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam perspiciatis repellendus rem neque. Nam, hic! Perferendis cumque asperiores recusandae voluptatem porro temporibus animi tempore debitis, minus exercitationem laboriosam aliquid nobis!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ut ipsa cum explicabo ea? Earum sit hic esse itaque similique error nulla facilis quis dicta. Quo placeat perspiciatis consequatur aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iusto itaque magnam debitis enim qui, a quod saepe eum nam molestias possimus ex delectus perspiciatis temporibus corrupti. Harum, magni odit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quam distinctio nisi dol
        <img src="{% static 'images/mista.jpg' %}" alt="art">
        oribus hic nam recusandae dignissimos natus quod, esse molestias harum. Tempore qui eligendi quas architecto quia, natus rerum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum rerum enim esse nulla numquam dolore mollitia eius consequatur odit? Incidunt quo consectetur nobis sunt! Explicabo a eligendi distinctio iste sint!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quas quos autem modi aliquam perferendis vel, deleniti nulla atque quae tempora nihil tenetur iure, cumque praesentium alias fugiat nostrum quam!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione provident excepturi dolorum voluptas, amet maxime repudiandae autem reprehenderit neque labore! Aspernatur sed quam blanditiis modi! Exercitationem culpa nesciunt voluptas adipisci.
    </li>
{% endblock %}