{% extends 'base.html' %}
{% load static %}


{% block title %}
        <title>Rango</title>
{% endblock %}

{% block body %}
        <h1>Rango says...</h1>
        <div>
            hey there parther! <br />
            <strong>cake, hunter, lion, xiaomi</strong><br />
        </div>
        <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'rango:show_category category.slug' %}">{{ category_name }}</a>
            </li> 
            {% endfor %}   
        </ul>
        {% else %}
            <strong>There are no categories present.!!!!:(</strong>
        {% endif %}
        </div>
        <div>
            <div>
                <img src="{% static 'images/mista.jpg' %}" alt="Picture of Mista" /> 
            </div>
        </div>
        
{% endblock %}
